<ul class="breadcrumb">
  <li class="breadcrumb__item">
    <a class="breadcrumb__link" href="/">
      Кибедром
    </a>
  </li>
  <li class="breadcrumb__item">
    <a href="/" class="breadcrumb__link">
      Новостной портал
    </a>
  </li>
  <li class="breadcrumb__item">
    <span  class="breadcrumb__link">
      Финал технологического конкурса «Кибердром-2021»
    </span>
  </li>
</ul>

