<div class="wrapper">

  <!-- Sidebar  -->
  <div id="sidebar">
    <div id="dismiss">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <a href="/">
      <img class="header-logo" src="./img/logo.svg" alt="Кибердром2022"/>
    </a>

    <nav class="header__navigation mt-20">
      <ul class="header-menu__list d-flex flex-column ">
        <li class="header-menu__item">
          <a href="index-3.html" class="header-menu__link">
                <span class="header-menu__text">
                 Новости
                </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-4.html" class="header-menu__link">
                <span class="header-menu__text">
                  Образовательный портал
                </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-11.html" class="header-menu__link">
                <span class="header-menu__text">
                  История конкурса
                </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-7.html" class="header-menu__link header-menu__link--dot">
                <span class="header-menu__text">
                  Конференция
                </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-6.html" class="header-menu__link">
                <span class="header-menu__text">
                  FAQ
                </span>
          </a>
        </li>
        <li class="header-menu__item">
          <a href="index-10.html" class="header-menu__link ">
                <span class="header-menu__text">
                  Контакты
                </span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="/" class="d-md-flex button button-green header-menu__button-green button-enter">
      Принять участие
    </a>
  </div>
</div>
<div class="overlay"></div>
