.buttons-area
  display: flex
  align-items: center

.button
  width: max-content
  border-color: transparent
  text-decoration-line: none
  transition: 0.2s ease all
  cursor: pointer
  font: 400 1rem/130% 'Roboto', sans-serif
  display: flex
  align-items: center
  justify-content: center
  padding: 0.1875rem 0.625rem

.button-reset
  padding: 0
  background: transparent
  border-radius: 0

.button-green
  position: relative
  background: transparent
  border: 2px solid #66B330
  min-height: 61px
  color: #fff
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25)
  &:hover
    background: #66B330
    color: #fff


