$font-family: 'TT Norms', sans-serif

.header-timer
  margin-left: 47px
.squares-time
  flex: 0 0 70px !important
  height: 70px !important
  background: rgba(43, 119, 188, 0.25)
  p
    color: #66B330
  .date-squares__timer:before
    font-size: 17px
    font-weight: 300
    color: #fff
    text-transform: inherit

.error-block
  margin-bottom: 3.125rem
  margin-top: 5.625rem
  &__title

    text-transform: uppercase
    font: 700 4rem/4.75rem $font-family
    color: #2B77BC
    margin-bottom: 20px
  &__sub-title
    color: #2B77BC
    font: 500 20px/140% $font-family
    margin-bottom: 4.375rem
    text-transform: uppercase
  &__button-green
    color: #000
    max-width: 26.25rem
    width: 100%
    min-height: 2.8125rem
    font: 500 1.125rem/1.3125rem $font-family
.map
  .target__title
    display: flex
    align-items: center

.title-map-icon-area
  position: relative

.title-map-icon
  display: inline-block
  cursor: pointer
  width: 30px
  height: 13px
  flex: 0 0 30px
  margin-left: 20px
.drop-down-list-city-mobile
  margin: 20px 0

.drop-down-list-city
  //border: 1px solid #000000
  max-width: 1100px
  width: 100%
  display: flex
  //width: 100%
  height: 400px
  background-color: #fff
  &__items
    height: 100%
    display: flex
    position: relative
    width: 100%
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
    transition: all 0.2s
    //transform: scale(0.98)
    will-change: transform
    user-select: none
    cursor: pointer
    &--active
      cursor: grabbing
      cursor: -webkit-grabbing
  //transform: scale(1)
  &__col
    flex: 0 0 350px
    width: 350px
    border: 1px solid
  &__item
    position: relative
    text-align: center
    padding: 10px
    color: #2773BB
    font: 400 24px/28px $font-family
    height: 64px
    display: flex
    align-items: center
    justify-content: center
    &:hover:before,
    &:hover:after
      opacity: 1
      transition: 0.2s ease all
    &:before, &:after
      opacity: 0
      content: ''
      width: 10px
      height: 100%
      position: absolute
      background-repeat: no-repeat
      background-size: cover
      background-image: url("../img/hover-effect.svg")
    &:before
      top: 0
      left: -1px
    &:after
      transform: scale(-1, 1)
      top: 0
      right: -1px
    &--active
      &:before,
      &:after
        opacity: 1
    &--active
      background: #CFE7FF

.drop-down-list-city-pc
  position: absolute
  display: none!important
  z-index: 99
  transform: translate(0%, 0)
  &--active
    display: block!important

*
  scrollbar-width: 10px
  scrollbar-color: #66B330 #C4C4C4

*::-webkit-scrollbar
  height: 10px
  /* height of horizontal scrollbar ← You're missing this */
  width: 4px
  /* width of vertical scrollbar */
  border: 5px solid #C4C4C4
  background-color: #66B330

*::-webkit-scrollbar-track
  background: #C4C4C4

*::-webkit-scrollbar-thumb
  background: #66B330

.pagination-area
  display: flex
  width: 100%
.pagination
  display: inline-block
  &__num
    margin: 5px 0
    display: inline-block
    font: 500 1.125rem/1.3125rem $font-family
    color: #898989
    padding: 10px
    align-items: center
    justify-content: center
    &--active, &:hover
      background-color: #66B330
      color: #fff
  &__dots
    color: #898989
  &__button
    padding-left: 25px
    padding-right: 25px
    background-color: #66B330
    color: #fff
    font-weight: 400

.title-line
  width: 100%
  .title-underline
    background-color: #ffffff
    padding-right: 25px

.gallery-info-block

.post-date-publish
  display: flex
  flex-wrap: wrap
  //align-items: baseline
  margin: 30px 0
  &__date
    margin-bottom: 1.25rem
  &__icon
    width: 43px
    height: 41px
    margin-right: 15px
  &__text
    color: #212121
    font: 400 20px/24px $font-family
    margin-right: 45px

@media (max-width: 577px)
  .error-block
    &__title
      font-size: 2.5rem
      line-height: 120%
    &__sub-title
      font-size: 1rem
      line-height: 120%
      margin-bottom: 1.875rem
  .drop-down-list-city__item
    font: 400 16px/18px "TT Norms", sans-serif
    min-height: 50px
    white-space: initial
  .drop-down-list-city__col
    width: 290px
    flex: 0 0 290px
