$blue: #0054A6
$colorGreen: #66B330
$font-family: 'TT Norms', sans-serif

//.container
//  max-width: 1140px!important

#sidebar
  display: flex
  flex-direction: column
  padding: 0 .9375rem
  overflow: visible
  background-color: $blue
  .header-logo
    width: 80%
    margin-bottom: 3.125rem
    margin-top: 0.9375rem
  .header-menu__item
    padding: 5px 0
    margin: 0 0 1.25rem 0
    align-items: flex-start
    justify-content: flex-start
  .button-enter
    flex: 0 0  2.5rem
    margin-top: auto
    margin-bottom: 1.875rem
    width: 100%
    padding-top: 0.625rem
    padding-bottom: 0.625rem
    height: 2.5rem
    margin-left: 0
  .header-menu__link--dot:before
    top: 0
    right: -10px

#dismiss
  background-color: transparent
  &:hover
    background-color: transparent
  i
    font-size: 1.5rem
*
  box-sizing: border-box
html, body
  min-height: 100%
html
  width: 100%
  font-size: 16px
  line-height: 18px
  overflow-x: hidden
//overflow-x: hidden

body
  width: 100%
  //overflow-x: hidden
  color: #fff
  font-family: $font-family
  font-weight: 400
section
  position: relative
  z-index: 10
header
  transition: 0.3s ease all
  z-index: 50
  position: sticky
  top: -1px
  background-color: $blue
  min-height: 90px


h1
  color: #ffffff
  font: bold 2.625rem/3.125rem $font-family

input
  outline: none
  color: #fff
  font: 300 1.125rem/1.3125rem $font-family

input::placeholder
  font: 300 1.125rem/1.3125rem $font-family
  color: rgba(255, 255, 255, 0.5)
.container,.row
  z-index: 10
  position: relative
.text
  font: 400 1.5rem/1.8125rem $font-family

.title-underline
  display: inline-block
  position: relative
  color: #ffffff
  text-transform: uppercase
  font: bold 2.25rem/2.625rem $font-family
  z-index: 2
  &:before
    content: ''
    width: 90%
    height: 0.6875rem
    background-color: $colorGreen
    position: absolute
    z-index: 1
    bottom: 0
    left: 0.1875rem
  &--black
    color: #000
  &--white
    color: #fff
  &__text
    word-break: break-word
    position: relative
    z-index: 3
  &--big
    font-size: 2.625rem
    line-height: 3rem
    &:before
      bottom: 2px

a, a:hover
  color: inherit
  text-decoration-line: none

.wrapper-page
  overflow: hidden
  height: 100%
  background-color: $blue
  position: relative

$grid-size: 100px
$dash-length: 5px
$dash-width: 1px
$dash-color: #2B77BC
$backgroundBlue: $blue
$backgroundWhite: #fff

.grid-bg:before,
.grid-bg-white:before
  content: ''
  z-index: 1
  //backdrop-filter: blur(2px)
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0


.grid-bg:before
  background-image: url("../img/grid.svg")
  width: 100%
  height: 100%
.grid-bg-white:before
  background-image: url("../img/grid.svg")
  width: 100%
  height: 100%
  opacity: 0.3

.header-menu
  max-width: 1330px
  width: 100%
  //padding: 0 70px
  display: flex
  justify-content: space-between
  align-items: center
  &__link-logo
    flex: 0 0 16.125rem
    margin-right: 1.875rem
  &__logo
    width: 100%
    height: 53px
  &__button-green
    min-height: 3.0625rem
    max-width: 12.9375rem
    flex: 0 0 12.9375rem
    margin-left: 1.75rem
    font-size: 1.125rem
    line-height: 1.3125rem
  &__navigation
    flex: 1
    justify-content: space-between
  &__list
    display: flex
    width: 100%
    justify-content: space-between
  &__item
    display: flex
    height: 100%
    align-items: center
    justify-content: center
    margin: 0 0.625rem
    position: relative
    &:before
      transition: 0.2s ease all
      content: ''
      width: 0
      height: 2px
      position: absolute
      bottom: 0
      background-color: #66B330
    &:hover
      &:before
        width: 100%
    &--active
      &:before
        width: 100%



  &__link
    position: relative
    height: inherit
    display: flex
    align-items: center
    &--dot:before
      content: ''
      position: absolute
      background-color: #FF6565
      width: 0.375rem
      height: 0.375rem
      top: 0.625rem
      right: -0.3125rem
      border-radius: 50%
  &__text
    color: #fff
    white-space: nowrap
    font: 400 1.125rem/1.3125rem $font-family

.header-mobile-menu
  width: 3.75rem !important
  height: 3.125rem
  flex: 0 0 3.75rem !important
  background-color: #66b330
  display: none
  align-items: center
  justify-content: center
  border-radius: 0.3125rem
  i
    color: #ffffff
    font-size: 1.875rem

.main-content
  position: relative
  padding-top: 36px
  padding-bottom: 40px
  &__title
    font-size: 2.25rem
    line-height: 2.625rem
    margin-top: 16px
    flex: 0 40rem
  &__logo
    width: 100%
    display: block
    margin: 0 -8px 0 auto
    max-width: 362px

.main-content__overlay
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 1
//background-color: #ccc
.main-content__overlay__sq
  position: absolute
  width: 6.375rem
  height: 6.375rem
  background: #0E58A5
  border: 3px solid #2B77BC
.pos-1
  right: 32.5%
  top: 10%
.pos-2
  right: 12%
  top: 27%
.pos-3
  right: 32.5%
  top: 90%
.pos-4
  left: 4.5%
  top: 27%
.pos-5
  left: -2%
  top: 59%
.pos-5
  left: -2%
  top: 59%
.pos-6
  left: 5%
  top: 15%
.pos-7
  left: 32%
  top: 67%
.dron-rotate
  position: absolute
  top: 20%
  left: 49.3%
  -webkit-animation: spin 5s linear infinite
  -moz-animation: spin 5s linear infinite
  animation: spin 5s linear infinite

.target-area__overlay
  position: absolute
  width: 100%
  height: 100%
  .main-content__overlay__sq
    background: #E7EFF6
    border: 3px solid #D4E4F1
    z-index: 10

@-moz-keyframes spin
  100%
    -moz-transform: rotate(360deg)
@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)
@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.date-registration
  margin-top: 3.125rem
  margin-left: -50px
  &__icon
    width: 40px
    margin-right: 0.5rem
  &__info
    margin-right: 2.875rem
    position: relative
    &:after
      content: ''
      background-image: url("../img/arrow-reg.svg")
      width: 185px
      height: 46px
      position: absolute
      background-repeat: no-repeat
      background-size: contain
      right: -47%
      top: 0
    p
      position: relative
      font: 500 1.5rem/1.72rem $font-family

  &__button-green
    font: 500 1.5rem/1.75rem $font-family
    color: #ffffff
    min-height: 4.0625rem
    padding-left: 2.9375rem
    padding-right: 2.9375rem
    margin-top: 61px
  .conf-location__date
    margin-top: 20px


.timer-area
  margin-top: 2px
  .timer:last-child
    &:after
      display: none

.date-squares__timer
  text-align: center
  //min-width: 4.125rem
  position: relative
  top: -8px
  //margin-right: 25px
  &:before
    content: attr(data-title)
    display: block
    position: absolute
    left: 50%
    bottom: -22px
    transform: translateX(-50%)
    font-size: 14px

.target:after
  content: ''
  position: absolute
  left: 0
  top: 0
  background: #fff
  height: 100%
  width: 50%
.target-area
  position: relative

.target
  background-color: white
  clip-path: polygon(50% 0,83% 23%,83% 75%,50% 100%,0 100%,0 0)
  &__bg
    background-repeat: no-repeat
    width: 100%
    z-index: 10
    position: relative
  .container
    max-width: 1440px
    margin-top: 46px
    padding: 147px 10.375rem 180px 10.4375rem
    height: 584px
    position: relative
  .blend
    content: ''
    position: absolute
    background-image: url('../img/target-bg-1.png')
    background-repeat: no-repeat
    top: 0
    left: 0
    right: 230px
    height: 100%
    bottom: 0
  .target__title
    position: relative
    z-index: 5
    margin-bottom: 2.6875rem
  &__info
    color: rgba(0, 0, 0, 0.7)
    font-size: 36px
    line-height: 42px
    font-weight: 300
  &__image
    z-index: 10
    position: absolute
    right: 12%
    top: 23%
    bottom: 0
    display: block
    max-width: 248px
    width: 100%
    margin-left: auto
.target-title
  width: 100%
  position: relative
.contest-count
  box-shadow: 0px 43px 120px rgba(0, 0, 0, 0.4)
  position: relative
  margin: 122px 0 70px 0
  background-color: #fff
  flex: 0 1 888px
  padding: 50px 0 42px 0
  &__item
    margin: 0 40px
  &__count
    white-space: nowrap
    color: $colorGreen
    margin-bottom: 14px
    font: bold 36px/42px $font-family
  &__text
    text-align: center
    color: #000
    font: 500 1.125rem/1.3125rem $font-family

.corner
  position: absolute
  &--tl
    top: -6px
    left: -6px
  &--tr
    top: -6px
    right: -6px
    transform: rotate(90deg)
  &--bl
    bottom: -6px
    left: -6px
    transform: rotate(270deg)
  &--br
    bottom: -6px
    right: -6px
    transform: rotate(180deg)

.map
  margin: 61px 0 0 0
  padding-bottom: 78px
  //.container
  //max-width: 1162px
  .target__title
    margin-bottom: 17px
  .title-underline__text
    transition: 0.5s ease all
  &__sub
    font: 500 30px/35px $font-family
    color: #fff
    margin-bottom: 12px
  &__info
    font: bold 36px/42px $font-family
  &__count
    color: $colorGreen
  &__text
    color: #fff

.glowIn
  span
    animation: glow-in 1s both

@keyframes glow-in
  from
    opacity: 0
  65%
    opacity: 1

  100%
    opacity: 1

.map-image
  margin-top: -92px
  position: relative
  margin-right: -112px
  max-width: 973px
  margin-left: auto
  svg
    height: 100%
    width: 100%
    //path:not(#borders):hover,.active
    path:not(#borders):hover,.active
      cursor: pointer
      transition: 0.5s ease all
      filter: drop-shadow(4px 1px 9px rgba(0,0,0, 0.8))



.participation
  background-color: #fff
  padding: 120px 0 145px 0
  .title-underline
    text-transform: inherit
  .target__title
    margin-bottom: 3rem

.participation-navigation
  position: relative
  .line
    height: 7px
    position: absolute
    bottom: 0
    margin: 10px 0 0 0
    background: #0054A6
    display: inline-block
  &__item
    display: flex
    align-items: center
    justify-content: center
    min-height: 5.1875rem
    text-align: center
    margin-bottom: 1.4375rem
    flex: 1 1 33%
    opacity: .4
    transition: all 0.4s ease
    &:hover
      opacity: .7
    &.active
      opacity: 1
      .button
        color: #212121
    &:last-child
      margin-right: 0
    .button
      background-color: transparent
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      font: 500 30px/35px $font-family
      color: #828282

.container-list
  padding: 50px 70px 50px 70px
  //max-width: 1255px
  width: 100%
  border: 1px solid #0054A6
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25)
  background-color: #ffffff
  margin-bottom: 110px
  &__item
    padding: 3px 0
    border-bottom: 1px solid #2B77BC

.container-item
  &__icon-area
    flex: 0 0 65px
    width: 65px
    height: 65px
    display: flex
    align-items: center
    margin-right: 30px
  //&__icon
  &__text
    white-space: nowrap
    color: #212121

.text-red
  color: #FF0000

.step-contest
  margin-top: 5.625rem
  width: 100%
  position: relative

  .container
    min-height: 15.625rem
    display: flex
    width: 100%
    align-items: center
    justify-content: center
  &__line-area
    display: flex
    flex-direction: column
    flex: 1 1 auto
    position: relative
    &:before
      z-index: -1
      content: ''
      width: 100%
      height: 0.3125rem
      position: absolute
      background-color: #2B77BC
      top: calc(50% - 0.15625rem)
      left: 0
  &__line-area:nth-child(2n+1)
    .step-contest__item
      top: -121px
      //top: -60px
      flex-direction: column
    .step-contest__text
      margin-top: 15px
  &__line-area:nth-child(2n)
    flex-direction: column-reverse
    .step-contest__item
      bottom: -125px
      //bottom: -60px
      flex-direction: column-reverse
    .step-contest__text
      margin-bottom: 15px

  &__area
    width: 100%
    position: relative

  &__item
    position: absolute
  //width: 267px
  //left: -115px
  &__date
    color: $colorGreen
    font: 400 30px/35px $font-family
    white-space: nowrap
  &__text
    color: #000
    font: 500 30px/35px $font-family
    &--final
      color: #FF1F00
.step-contest-start,
.step-contest-end
  &:before, &:after
    content: ''
    position: absolute
    width: 100%
    top: calc(50% - 0.15625rem)
    height: 5px
  &:before
    background-color: $colorGreen
    left: -100%
  &:after
    right: -100%
    background-color: #2B77BC

.step-contest-end
  &:after,
  &:before
    background-color: $colorGreen

.step-current
  .container-circles__circle
    background: $colorGreen
  .step-contest__text
    color: $blue
  &:before
    background-color: $colorGreen

.container-circles
  position: relative
  &__area
  &__circle
    display: inline-block
    border-radius: 50%
    width: 30px
    height: 30px
    background: #2B77BC
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.conf
  padding: 57px 0 110px 0
  &__dron-image
    position: absolute
    max-width: 752px
    left: 1.8125rem
    top: -15px
  .target__title
    margin-bottom: 40px
  .title-underline
    letter-spacing: -0.4px
  &__desc
    margin-top: 40px
    margin-bottom: 45px
    color: #E4E4E4
    letter-spacing: 0.025em
    font: 400 24px/32px $font-family
  &__button-green
    text-transform: uppercase
    padding: 15px 40px
    font: bold 18px/21px $font-family
.conf-col-info
  margin: 5px 0 0 5px

.text-green
  color: $colorGreen

.conf-container
  max-width: 1225px

.conf-info-area
  margin-bottom: 55px

.conf-location
  margin-right: 60px
  &__text
    font: 200 16px/19px $font-family
    margin: 6px 0
    color: #ffffff
    &--black
      color: #000
  &__city
    color: #ffffff
    font: bold 32px/38px $font-family


.date-squares
  &__item
    width: 60px
    flex: 0 0 60px
    height: 60px
    background: rgba(43, 119, 188, 0.25)
    backdrop-filter: blur(2px)
    margin-right: 8px
    &--fill
      background: #66B330
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25)
  &__date
    height: inherit
    span:first-child
      margin-bottom: 5px
      font: bold 21px/24px $font-family
    span:last-child
      text-transform: uppercase
      font: 400 10px/13px $font-family

.date-squares__item-group
  margin-right: 8px
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25)
  .date-squares__item
    box-shadow: none
    margin: 0
  .date-squares__item--middle
    flex: 0 0 76px
    width: 76px

.testing
  z-index: 5
  position: relative
  background-color: #ffffff
  padding: 47px 0 169px 0
  &__sub-title
    z-index: 5
    position: relative
    color: #212121
    margin-top: 30px
    margin-bottom: 65px
  &__image
    display: block
    position: absolute
    z-index: 1
    bottom: 10%
    right: 11%
.testing-info-area
  margin-bottom: 50px
  span
    color: #000
.organizers
  padding: 108px 0 60px 0
  background-color: #fff

.training
  padding: 25px 0 64px 0
  position: relative
  z-index: 1
  &__bg-image
    position: absolute
    right: -1px
    bottom: 2.6875rem
  .testing__sub-title
    margin-top: 2.5rem
    margin-bottom:  2.3125rem
  &__group-conf-date
    .conf-location__text
    text-align: center
    padding-right: 8px
  .testing__sub-title
    color: #E4E4E4
  &__button-green
    margin-top: 5rem
    text-transform: uppercase
    padding: 15px 35px
    font: bold 18px/21px $font-family

.section-zarnitsa
  background-color: #fff
  padding-top: 80px
  //padding-bottom: 153px
  padding-bottom: 329px
  &__image
    position: absolute
    right: -150px
    top: -40px
    z-index: -1
.zarnitsa
  &__list
  &__col
    margin-bottom: 1.25rem
    .testing-info-area
      margin-bottom: 30px
    .conf-location__city
      text-transform: uppercase

.section-aviation-work
  //background-color: $blue
  padding-top: 43px
  padding-bottom: 134px
  &__image
    max-width: 100%
    position: absolute
    left: -88px
    top: 28px
  .container
    max-width: 1220px
  .target__title
    text-align: right
    margin-bottom: 50px
  .testing__sub-title
    margin-bottom: 79px
    text-align: right
    color: #E4E4E4
  &__content
    position: relative
    z-index: 5
    display: flex
    flex-direction: column
    padding: 0 3px
  //align-items: end
  .conf-location
    margin-bottom: 62px
    margin-right: 26px
  .conf-location__city
    margin-top: 4px
    text-transform: uppercase

  .conf-location__text
    color: #fff
.conf-date
  &--gold
    .date-squares__item--fill
      background: #DBB800

.section-final
  overflow: hidden
  background: #fff
  padding-top: 77px
  padding-bottom: 102px
  .conf-location__city
    text-transform: uppercase
  .testing__sub-title
    margin-top: 34px
    margin-bottom: 56px
    text-decoration-line: underline
  &__image-dron
    position: absolute
    top: 46%
    right: 38%
    z-index: 1
  &__image-final
    top: 61px
    z-index: 1
    right: 0
    position: absolute

.section-form
  position: relative
  background-color: #fff
  //.container
  z-index: 15

.section-form-vector
  position: absolute
  &--1
    width: 102px
    height: 102px
    bottom: -40px
    right: 25px
    z-index: 2
  &--2
    right: 30%
    bottom: -20px
    z-index: 2
    width: 126px
    height: 140px

.form-area
  padding-top: 58px
  padding-bottom: 60px
  background-color: $blue
  position: relative
  width: 100%
  &__col
    position: relative
    flex: 1 1 50%
  &__info
    padding: 0 80px
    //flex: 0 0 445px
    width: 100%
  &__info2
    padding-right: 130px
  &__item
    position: relative
    z-index: 50
    padding: 0 15px
    margin-bottom: 55px
  &__item:last-child
    margin-bottom: 0
  &__title
    margin-bottom: 20px
    color: #ffffff
    font: 500 36px/42px $font-family
  &__text
    padding-right: 10px
    color: rgba(255, 255, 255, 0.75)
    font: 400 1.5rem/2.375rem $font-family
    a
      text-decoration-line: underline
  &__form
    margin-left: 29px
    padding-top: 5px
  &__image-arrow
    right: -10%
    top: 30%
    position: absolute
  &__button-green
    margin-top: 35px
    max-width: 350px
    width: 100%
    height: 52px
    font: 500 18px/21 $font-family
    color: white
    text-transform: uppercase

.form-input
  padding: 0 12px
  min-height: 2.375rem
  width: 100%
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(255, 255, 255, 0.5)

.form
  max-width: 350px
  width: 100%
  &__button-green
    width: 100%
    min-height: 56px
    margin-bottom: 56px
    font-size: 1.125rem
    line-height: 1.3125rem
    text-transform: uppercase
  &__text
    text-align: center
    color: rgba(255, 255, 255, 0.75)
    font: 400 1.125rem/1.3125rem $font-family
    a
      text-decoration-line: underline
  &__input
    margin-bottom: 50px
.training__group-conf-date-revers
  margin-top: 7px
.organizers-content
  position: relative
  z-index: 10
  &__row
    flex-wrap: wrap
    padding: 0 30px
    margin-top: 57px
    width: 100%
    display: flex
    justify-content: space-between
    img
      max-width: 100%
      display: inline-block
  &__partner
    & > *
      padding: 0 20px
      flex: 1 1 auto
      margin-bottom: 3.125rem
  //& > *:last-child
  //  flex: 0 0 auto
  &__col
    padding: 0 13px
    margin-bottom: 20px
  &__col-title
    color: #212121
    font: 500 30px/35px $font-family
  &__col-image
    height: 160px
    display: flex
    align-items: center
    justify-content: center

.partners
  padding-top: 80px
  padding-bottom: 25px

.section-news
  background-color: #fff
  padding-bottom: 100px
  .target__title
    text-align: center
    margin-bottom: 55px
  &__link-go
    margin-top: 10px
    margin-bottom: 20px

.new-block
  display: inline-block
  //padding: 15px 0
  margin-bottom: 30px
  &:hover,&:active
    color: #000000
    text-decoration: none
  &__link
    color: #000000
    font: 400 26px/31px $font-family
  &__image
    width: 100%
    max-width: 100%

.bottom-line
  border-bottom: 2px solid #0054A6
  &--green
    border-color: $colorGreen

.link-go
  display: inline-block
  width: 100%
  text-align: center
  padding-bottom: 15px
  &__text
    position: relative
    color: #212121
    font: 400 24px/28px $font-family
    &:after
      content: ''
      background-image: url("../img/arrow.svg")
      width: 19px
      height: 15px
      position: absolute
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      right: -6px
      transform: translate(100%, 62%)

.error-dron
  display: block
  max-width: 100%
  //margin: 0 auto 0 auto


.dron-bg
  position: absolute
  width: 45.9375rem
  height: 760px


footer
  z-index: 10
  position: relative
  background: #004283
  padding: 56px 0 0 0
  circle
    fill: #87beff
  .soc-network__button-green
    color: #fff
.footer-row
  margin-bottom: 60px
.footer-content
  &__title
    display: block
    color: #FFFFFF
    font: 400 14px/19px $font-family
    margin-bottom: 15px
  &__text
    display: block
    white-space: nowrap
    margin-bottom: 15px
    font: 300 14px/19px $font-family
  &__soc
    margin-top: 60px


.form--mini
  margin: 0
  padding: 0
  .footer-content__title
    margin-bottom: 0
  input::placeholder
    font-size: 0.75rem
    line-height: 0.875rem
  .form__button-green
    font-size: 0.875rem
    line-height: 1.0625rem
    min-height: 2rem
    margin-bottom: 0.625rem
  .form__input
    margin-bottom: 0.625rem
  //.form__text

.has-info
  fill: #ffc100!important


.copyright
  display: inline-block
  margin: 10px 0
  font: 300 0.875rem/1.0625rem $font-family
  color: rgba(255, 255, 255, 0.65)

@media (max-width: 1439px)
  .target:after
    width: 100%
  .target .container,
  .map .container
    max-width: 960px
    padding-left: 15px
    padding-right: 15px
  .target__image-area
    right: 0.9375rem

@media (max-width: 1300px)
  .header-menu
    &__list
      display: none
    &__navigation
      justify-content: flex-end
  .header-mobile-menu
    display: flex
  .map-image
    margin: 0
  .container-item
    &__text
      white-space: normal
  .form-area__info2,
  .form-area__info
    padding: 0 30px
  .form
    max-width: 100%
  .conf__dron-image
    left: -10%
  .form-area__image-arrow
    right: 1%
  .training__bg-image
    right: -6.25rem
    bottom: -0.3125rem
    max-width: 50%
@media (max-width: 993px)
  //html
  //  font-size: 12px\
  .target-area__overlay
    display: none
  .target .container
    height: auto
  .target__image
    display: none
  .step-contest__area
    flex-direction: column
    align-items: center
    overflow: hidden
    width: auto
  .step-contest__item
    position: relative
  .step-contest__line-area
    flex-direction: row-reverse
  .step-contest__line-area
    padding: 30px 0
    width: 100%
    justify-content: flex-end
  .step-contest__date
    font-size: 1.25rem
    line-height: 1.375rem
  .step-contest__line-area:nth-child(odd),
  .step-contest__line-area:nth-child(2n)
    flex-direction: row-reverse
    .step-contest__text
      margin-bottom: 0
      margin-top: 0
    .step-contest__item
      //left: auto
      //width: auto
      flex-direction: column
      top: inherit
      bottom: inherit
      margin-left: 15px
  .step-contest__line-area:before
    transform: rotate(90deg)
    left: calc(-50% + 15px)
    top: 100%
  .target__title,.testing__sub-title
    text-align: left !important
  .title-underline
    font-size: 1.5rem
    line-height: 1.6875rem
  .header-menu__link-logo
    flex: 0 1 auto
  .main-content
    &__logo
      //max-width: 50%
      margin: 0 auto
  .target
    clip-path: none
    .container
      max-width: 960px
      margin: 0
      padding: 0 15px

  .target__image-area
    right: 0
    display: none
  .contest-count
    flex: 1 1 100%
    padding-top: 1.25rem
    padding-bottom: 1.25rem
    margin: 3.125rem 0
    &__item
      margin-bottom: 1.25rem
      margin-left: 0
      margin-right: 0
  .map
    margin: 0
  .title-underline
    font-size: 2rem
    line-height: 2.1rem
  .conf__dron-image
    width: 100%
  .conf-info-area
    flex-direction: column
    & > *
      margin-bottom: 0.625rem
  .target__info br
    display: none
  .date-registration
    margin-left: 0
  .participation
    .target__title
      margin-bottom: 3.125rem
  section
    padding: 1.875rem 0 !important
  .conf-location__city
    font-size: 1.5rem
    line-height: 1
  .container
    max-width: 100% !important
  .conf-col-info
    margin: 0
  .conf__dron-image
    right: 0
    bottom: 5%
    top: auto
    left: auto
    width: 50%
  .form-area__info2,
  .form-area__info
    margin: 0
    padding: 0 15px
    flex: 1 1 auto
    margin-bottom: 1.25rem
  .section-zarnitsa__image
    max-width: 50%
  .footer-content__text
    white-space: normal
  .form-area__image-arrow
    transform: rotate(90deg)
    width: 4rem
    right: auto
    left: auto
    top: auto
    bottom: 0.3125rem
  .testing__image
    right: 3.125rem
    max-width: 100%
    width: 25%
  .conf-location
    margin-right: 0
    margin-bottom: 1.25rem
  .testing-info-area
    flex-direction: column
  .section-form .container
    padding: 0
  .section-aviation-work
    &__content
      padding-left: 15px
      padding-right: 15px
    &__image
      max-width: 50%
      right: -5%
      bottom: 10%
      left: auto
      top: auto
  .training__group-conf-date-revers
    margin-top: 0
  .training__group-conf-date
    //flex-direction: column
    flex-wrap: wrap
  .conf-date--empty
    display: none!important
  .training__group-conf-date-revers
    .conf-date
      flex-direction: column-reverse!important
  .section-final__image-final
    //right: -20%
    top: auto
    bottom: 10%
    width: 50%
  .section-final__image-dron
    width: 20%
  .section-aviation-work__content
    padding-right: 15px
    padding-left: 15px


@media (max-width: 769px)
  .page-error
    min-height: auto!important
  .date-registration__info:after
    display: none
  .target__title
    margin-bottom: 2rem !important
  .title-underline
    font-size: 2.125rem
    line-height: 2.25rem
  .title-underline:before
    height: 0.25rem
    width: 80%
    bottom: 0.125rem

  .main-content__title
    font-size: 2.1875rem
    line-height: 2.375rem
    margin-top: 0
    margin-bottom: 1.875rem
    br
      display: none

    &__button-green
      margin-top: 1.25rem
    &__info
      margin-right: 0
      p
        font-size: 1rem
        line-height: 1.1875rem

  .participation-navigation
    &__item
      min-height: auto
      margin-bottom: 1.25rem
    .line
      display: none
  .container-list
    padding: 1.5625rem 1.875rem
  .container-item
    padding: 0.625rem 0
    flex-direction: column
    align-items: center
    &__icon-area
      margin: 0 0 0.625rem 0
    &__text
      text-align: center
      font-size: 1.25rem
      line-height: 1.375rem

  .participation-navigation
    &__item
      a
        font-size: 1.625rem
        line-height: 1.75rem
  .button
    min-height: 2.5rem
    font-size: 1rem
    line-height: 1.1875rem
  p
    font-size: 1.25rem !important
    line-height: 1.4375rem !important

  .date-registration
    &__info
      margin-right: 0
    &__button-green
      margin-top: 1.25rem
      width: 100%
  .section-zarnitsa__image
    top: auto
    bottom: 30%
    right: 0
  .organizers-content__row,
  .organizers-content__col
    justify-content: center
    width: 100%
    margin: 0
    padding: 0
  .organizers-content
    padding-right: 15px
    padding-left: 15px


@media (max-width: 577px)
  //html
  //  font-size: 11px
  //.title-underline
  //  font-size: 0.9rem
  //  line-height: 1.0625rem
  .date-registration .conf-location__date
    margin-left: 0
  .main-content
    &__logo
      max-width: 50%
  .button-green
    padding-right: 10px
    padding-left: 10px
    max-width: 100%
    width: 100%
  .testing__image
    bottom: 20%
    top: auto
    right: -1.875rem
  .section-aviation-work
    &__image
      right: -5%
      bottom: 40%
    .conf-location
      margin-right: 1.25rem




