$blue: #0054A6
$colorGreen: #66B330
$font-family: 'TT Norms', sans-serif
.breadcrumb
  padding: 0
  display: flex
  width: 100%
  margin: 25px 0
  align-items: center
  background-color: transparent
  &__item
    position: relative
    margin-right: 20px
    &:before
      content: ''
      position: absolute
      right: -15px
      top: 6px
      background-image: url("../img/arrow.svg")
      width: 11px
      height: 9px
      background-repeat: no-repeat
      background-position: center
      background-size: cover
  &__item:last-child,
  &__item:last-child:hover, &__item:last-child:active
    color: #212121
    &:before
      display: none
  &__item
    font: 400 18px/20px $font-family
    color: #212121
  &__item:hover, &__item:active
    color: #0054a6

.news-wrapper, .modules-wrapper, .faq-wrapper
  position: relative
.new-page
  padding-bottom: 0!important
//overflow-x: hidden

$speed: 0.3s
.page
  position: relative
  z-index: 1
  padding: 10px 0 100px 0
  overflow-x: hidden

.shift
  transition: $speed linear right
  right: 0
  position: relative
  &--active
    right: -15%

.news-page
  .target__title
    margin-bottom: 50px
  .title-underline
    text-transform: inherit

.source
  color: #212121
  font: 400 12px/14px $font-family

.new
  padding-bottom: 25px
  border-bottom: 1px solid #0054A6
  margin-bottom: 70px
  &--border-0
    border: none
  &__image
    margin-bottom: 9px
    max-width: 100%
    width: 100%
    max-height: 584px
    object-fit: cover
    object-position: center
    transition: $speed linear all
  &__text
    margin: 50px 0 20px 0
    p
      color: #000000
      font: 400 15px/18px $font-family
    a, a:hover, a:active
      color: #0054A6
      display: inline-block
      text-decoration-line: underline
    strong
      font-weight: 700
    em
      font-style: italic
    blockquote
      border-left: 1px solid #66B330
      padding: 20px
      max-width: 550px
      width: 100%
      color: #212121
      font: 400 18px/21px $font-family
  //&__link-area
  &__link
    font: 500 18px/21px $font-family
    color: #0054A6
    position: relative
    &:hover, &:active
      color: #0054A6
    &:before
      content: ''
      position: absolute
      right: -22px
      top: 4px
      background-image: url("../img/arrow.svg")
      width: 18px
      height: 15px
      background-repeat: no-repeat
      background-position: center
      background-size: cover

.news-navigation-overlay
  padding-bottom: 40px
  position: absolute
  background-color: #fff
  height: 100%
  z-index: 20
  max-width: 325px
  bottom: 0
  top: 0px
  left: 0
  width: 100%
  border-right: 1px solid rgba(0, 84, 166, 0.5)
  transition: $speed linear transform
  transform: translate(-100%, 0)
  &--open
    transform: translate(0, 0)
    .news-menu-button
      right: 0
  &__title
    position: relative
    margin-bottom: 40px
    color: #212121
    font: 500 24px/28px $font-family
    &:before
      content: ''
      position: absolute
      background-color: #66B330
      width: 78px
      height: 1px
      left: 0
      bottom: -20px

.news-navigation-area
  padding: 40px

.news-navigation
  //max-height: 100%
  //overflow-y: auto
  &__item
    margin-bottom: 20px
    padding-bottom: 25px
    border-bottom: 1px solid rgba(0, 84, 166, 0.5)
  &__link
    display: flex
    flex-direction: column
  &__title
    color: #000000
    font: 400 18px/21px $font-family
    margin-bottom: 10px
  &__date
    color: #000000
    font: 400 12px/14px $font-family

.news-menu-button
  cursor: pointer
  position: fixed
  z-index: 11
  left: 8px
  border-radius: 0 5px 5px 0
  top: 40%
  padding: 10px 10px 10px 0
  transition: $speed linear all
  animation: move-menu-button 1.5s ease infinite
  &--open
    animation: none

@keyframes move-menu-button
  100%
    left: 8px
  0%
    left: 0px

.modules-wrapper
  padding-bottom: 100px
  .target__title
    margin-bottom: 140px
  .title-underline__text
    text-transform: uppercase
  &__button-area
    margin: 40px 0
  &__button-green
    min-height: 45px
    width: 100%
    font: 400 18px/21px $font-family

.module
  width: 100%
  display: inline-block
  margin-bottom: 50px
  &__image
    max-width: 100%
    width: 100%
    max-height: 345px
    object-fit: cover
  &__text
    color: #000000
    font: 500 24px/28px $font-family
    margin: 15px 0

.history
  margin-bottom: 30px
  &__title
    width: fit-content
    position: relative
    background-color: #fff
    padding-right: 25px
    font: 500 36px/42px $font-family
    color: #000000
    .title-underline__text
      color: #000000
      text-transform: uppercase
      font: 500 36px/42px $font-family

.center-line
  position: absolute
  top: 50%
  left: 0
  right: 0
  width: 100%
  background-color: #0054A6
  height: 2px

.history-title
  margin-bottom: 40px
  position: relative

.history-button-area
  margin-bottom: 40px

.history-block
  margin-bottom: 45px
  display: inline-block
  width: 100%
  &__title
    text-align: center
    color: #000000
    font: 500 28px/33px $font-family
    padding-bottom: 20px
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%
    overflow: hidden
  &__image
    width: 100%
    max-width: 100%
    height: 240px
    object-fit: cover
    object-position: center

.history-files
  margin-bottom: 25px
  a,a:hover,a:active
    color: #0054A6
  &__file
    display: flex
    align-items: center
    margin-right: 6.25rem
    margin-bottom: 25px
    font: 400 1.5rem/1.75rem $font-family
    color: #0054A6
    img
      width: 40px
      height: 40px
      margin-right: 0.9375rem

.card-body
  color: #000

.faq-wrapper
  .target__title
    margin-bottom: 80px

.faq-list
  margin-bottom: 100px

.question
  margin-bottom: 20px
  &__title
  &__button
    text-align: left
    width: auto
    word-spacing: normal
    background-color: transparent
    padding: 0 0 10px 0
    color: #000000
    font: 500 28px/33px $font-family
  &__body
    padding: 20px 0 0 0
    color: #212121
    font: 400 16px/19px $font-family
  &__arrow
    flex: 0 0 22px
    height: 11px
    transition: 0.3s ease all
    margin: 0 10px 0 25px


.question__button[aria-expanded="true"]
  border-bottom-color: $colorGreen
  .question__arrow
    transform: rotate(180deg)
    path
      stroke: $colorGreen


.video-frame
  margin-bottom: 60px
  margin-top: 30px

.slick-prev:before, .slick-next:before
  color: red!important

.slider-center
  //.slick-slide
  //  transition: none!important
  //  width: 200px!important
  //.slick-current
  //  width: 350px!important
  .slick-arrow
    top: 100px
    content: ''
    width: 41px
    height: 33px
    display: block
  .slick-arrow:before
    display: none
  .slick-prev
    left: 10px
    background-image: url("../img/arrow-prev.svg")
  .slick-next
    right: 10px
    background-image: url("../img/arrow-next.svg")



.slider-center
  padding: 0 64px
  margin-bottom: 90px
  .slide-btn
    //height: 290px
  .slick-slide
    pointer-events: none
    transition: 0.3s ease all
    position: relative
    transform: scale(0.8)
    opacity: 0.5
    img
      max-width: 100%
      width: 100%
      height: 190px
      object-fit: cover
    span
      text-align: center
      color: #000000
      display: none
      margin: 10px 0
      font: 500 1.5rem/1.75rem $font-family
  .slick-current
    pointer-events: auto
    transform: scale(1)
    opacity: 1
    span
      display: block

.slider-center-prev
  width: 40px
  height: 33px
  background-image: url("../img/arrow-prev.svg")
.slider-center-next
  width: 40px
  height: 33px
  background-image: url("../img/arrow-next.svg")

.mod
  .header-menu__button-green,
  .modules-wrapper__button-green
    padding: 3px
    color: #000
    text-align: center
    &:hover, &:active
      color: white
  #sidebar
    background: #fff
    border-right: 1px solid #80AAD3
  #dismiss i
    color: #000
    opacity: 0.6
  header
    background: #fff
    border-bottom: 1px solid #80AAD3
  .header-menu__text
    color: #000
  .header-menu__logo, .header-logo
    content: url("../img/logo-blue.svg")
  footer
    background: rgba(0, 66, 131, 0.05)
    border-top: 1px solid #80AAD3
    .soc-network__button-green
      color: #000
      &:hover, &:active
        color: #fff
    //circle
    //  fill: #87beff
  .footer-content__title,
  .footer-content__text
    color: #000
  .form-input
    border-color: #000
  input, input::placeholder
    color: #000
  .copyright
    color: rgba(0, 0, 0, 0.65)

.page-error
  padding-top: 90px
  background-image: url("../img/404-bg.png")
  background-repeat: no-repeat
  background-size: contain
  min-height: 47.5rem
  width: 100%

.stream
  .col
    margin-bottom: 3.75rem

.stream-dron
  position: absolute
  bottom: 0
  left: 0px

.stream-block
  position: relative
  height: 100%
  background-color: #2B77BC
  .form-input, .form-input::placeholder
    border-color: #ffffff
    color: #ffffff
    margin-bottom: 30px
  &--video
    padding: 1.5625rem 2.9375rem 2.5rem 2.9375rem
  &--form
    padding: 1.5625rem 1.25rem 16.875rem 1.25rem
  &__title
    font: 500 2.25rem/2.625rem $font-family
    color: #fff
    margin-bottom: 2.6875rem
    &--form
      font: 500 1.75rem/2.0625rem $font-family
      margin-bottom: 3.375rem
  &__video
    height: 19.6875rem
    width: 100%
    margin-bottom: 1.5625rem
    & > *
      max-width: 100%
      width: 100%
      height: inherit
      object-fit: cover
  &__button-green
    text-align: center
    width: 100%
    min-height: 73px
    font: 400 24px/28px $font-family
    color: #fff

.stream-form
  &__button-green
    color: #fff
    width: 100%
    min-height: 2.8125rem
    font: 500 1.125rem/1.3125rem $font-family

.cascad-images
  position: relative
  width: 100%
  height: 17.8125rem
  margin-bottom: 1.25rem
  .cascad-image
    width: 100%
    position: absolute
    object-fit: cover
    height: 89%
  &__1
    z-index: 3
    top: 0
  //height: 80%
  &__2
    z-index: 2
    opacity: 0.5
    top: 15px
    transform: scaleX(0.95)
  &__3
    top: 30px
    opacity: 0.25
    z-index: 1
    transform: scaleX(0.90)

@media (min-width: 1900px)
  .shift--active
    right: 0

@media (max-width: 993px)
  .slider-center
    padding: 0

@media (max-width: 769px)
  .history-files__file
    margin-right: 0
  .slider-center .slick-slide span
    font: 500 1rem/1.2rem "TT Norms", sans-serif
  .slider-center
    margin-bottom: 0
    .slick-list
      padding: 0 80px!important
    .slick-arrow
      display: none!important
    .slide-btn
      height: auto

@media (max-width: 577px)
  .news-navigation-area
    padding: 15px
  .page
    .title-underline
      font-size: 2rem
      line-height: 2.1rem
  .question__button
    font-size: 24px
    line-height: 27px
  .stream-block--video
    padding: 1.25rem
  .slider-center
    .slick-list
      padding: 0 30px!important

