@keyframes animate-svg-stroke-1
  0%
    stroke-dashoffset: 706.7636108398438px
    stroke-dasharray: 706.7636108398438px
  100%
    stroke-dashoffset:  1413.5272216796875px
    stroke-dasharray: 706.7636108398438px

$t: 10s

.svg-elem-1
  -webkit-animation: animate-svg-stroke-1 $t linear  infinite
  animation: animate-svg-stroke-1 $t linear   infinite

svg.active .svg-elem-1
  stroke-dashoffset: 934.6311645507812px

.dron-area
  position: absolute
  bottom: 33%
  left: -78px

.map-path
  position: absolute
  bottom: -277%
  left: 0
  z-index: 1

.map-path-target
  position: absolute
  right: 9%
  bottom: -293%
  z-index: 1
.dron
  z-index: 2
  position: relative
  offset-path: path('M62.4858 1C-82.5142 190 73.5001 263 84.5 194C95.5 125 -13 121.5 3.50003 244C10.2347 294 70 385 125.5 409.5')
  offset-distance: 10%
  animation: move $t linear infinite


@-webkit-keyframes animate-svg-stroke-2
  0%
    stroke-dashoffset: 467.3155822753906px
    stroke-dasharray: 467.3155822753906px
  100%
    stroke-dashoffset: 934.6311645507812px
    stroke-dasharray: 467.3155822753906px


@keyframes animate-svg-stroke-2
  0%
    stroke-dashoffset: 467.3155822753906px
    stroke-dasharray: 467.3155822753906px

  100%
    stroke-dashoffset: 934.6311645507812px
    stroke-dasharray: 467.3155822753906px


.svg-elem-2
  -webkit-animation: animate-svg-stroke-2 $t linear   infinite
  animation: animate-svg-stroke-2 $t linear   infinite

.dron-area-target
  position: absolute
  right: 5%
  bottom: 60%


.dron-target
  z-index: 2
  position: relative
  offset-path: path('M12.4999 0.5C-2.83339 28.8333 -15.5001 100.2 56.4999 159C128.5 217.8 57.1666 357.5 12.4999 420')
  offset-distance: 10%
  animation: move $t linear infinite

@keyframes move
  0%
    offset-distance: 100%
  100%
    offset-distance: 0%

@media (max-width: 1100px)

  .dron-area
    left: 0%

@media (max-width: 992px)
  .svg-elem-2,.svg-elem-1,
  .dron-target,.dron,
  .dron-area, .dron-area-target,
  .map-path,.map-path-target
    display: none
